---
permalink: /feed.xml
eleventyExcludeFromCollections: true

metadata:
  language: en
  title: yareli's press
  description: occasional essays and letters on video games, manga, personal, et al.
  base: "https://yareli.nekoweb.org"
  author:
    name: yareli
    email: ""
---
<?xml version="1.0" encoding="utf-8"?>
<rss version="2.0" xmlns:dc="http://purl.org/dc/elements/1.1/" xml:base="{{ metadata.base | addPathPrefixToFullUrl }}" xmlns:atom="http://www.w3.org/2005/Atom">
  <channel>
    <title>{{ metadata.title }}</title>
    <link>{{ metadata.base | addPathPrefixToFullUrl }}</link>
    <atom:link href="{{ permalink | htmlBaseUrl: metadata.base }}" rel="self" type="application/rss+xml"/>
    <description>{{ metadata.description }}</description>
    <language>{{ metadata.language }}</language>
    <lastBuildDate>{{ "now" | now | dateToRfc822 }}</lastBuildDate>

    {% for post in collections.post | reverse %}
    <item>
      <title>{{ post.data.title }}</title>
      <link>{{ metadata.base }}{{ post.page.url }}</link>
      <description>{{ post.content | renderTransforms: post.data.page, metadata.base | contentAsXHTML }}</description>
      <pubDate>{{ post.date | dateToRfc822 }}</pubDate>
      <dc:creator>{{ metadata.author.name }}</dc:creator>
      <guid>{{ post.page.url }}</guid>
    </item>
    {% endfor %}
  </channel>
</rss>