---
layout: main
---

<div class="grid grid-cols-1 sm:grid-cols-4 gap-2 sm:gap-4">
  <div class="col-auto sm:col-span-3">
    <div class="w-full p-2 sm:p-4 border bc bg">
      <span class="type text-sm">
        {{ date | date: "%b %d, %Y" }}
        {% if mirror  %}&nbsp;|&nbsp;<a class="link" href="{{ mirror }}" rel="_blank">View on Backloggd</a>{% endif %}
      </span>
      <br><br>
      <h1 class="text-lg sm:text-3xl font-bold" data-pagefind-meta="title">{{ title }}</h1>
      <h3 class="text-base sm:text-md font-light italic">{{ subtitle }}</h3>
      <hr class="border border-dotted bc my-2 sm:my-4">

      <div id="content" data-pagefind-body>
        {{ content }}
      </div>
    </div>
  </div>
  <div class="col-auto">
    <div class="w-full p-2 border bc bg" data-pagefind-ignore>
      {% render "posts.liquid" with collections.post as posts %}
    </div>
  </div>
</div>